# Database connection string
DATABASE_URL="file:./dev.db"

# Admin JWT Authentication Secret
ADMIN_JWT_SECRET="your-ultra-secure-jwt-secret-at-least-32-chars-long"

# Public site domain for SEO and metadata
NEXT_PUBLIC_SITE_URL="https://suhailnasr.art"

# Environment
NODE_ENV="development"
